.logo-nav {
  height: 50px;
  margin-bottom: 30px;
}
.Carousel img {
  height: 250px;
  width: 250px !important;
}
.Carousel {
  margin-top: 100px;
}
.control-dots {
  margin-bottom: -20px !important;
  z-index: 9999;
}
html {
  height: 100vh !important;
}
